.App{
    width: 100vw;
    height:100vh
}



.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
    
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 20%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 20px;
  }
  
  th {
    background-color: lightgray;
  }
  
  td {
    background-color: white;
  }

  table,th,td{
      border: 1px solid black;
  }

  .executive{
     color:darkorchid;
  }

  .location{
      color: blue;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }