.sidebar{
    height:100%;
    width:250px;
    border: 1px solid black;
    border-bottom: 100%;
    
    
}

.folder{
    background-color: gray;
    color: aqua;
    text-align: center;
}

body{
    margin:0;
    padding: 0;
    
}

